// xLarge screen / wide desktop
@screen-xl: 1300px;
@screen-xl-min: @screen-xl;
//** Deprecated `@screen-lg-desktop` as of v3.0.1
@screen-xl-desktop: @screen-xl-min;

// So media queries don't overlap when required, provide a maximum
@screen-lg-max: (@screen-xl-min - 1);

//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.
// xLarge screen / wide desktop
@container-xlarge-desktop: (1240px + @grid-gutter-width);
//** For `@screen-xl-min` and up.
@container-xl: @container-xlarge-desktop;
